<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smartfren.instrat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.smartfren.instrat.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path"></meta-data>
        </provider>

        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/page_login_title"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginProgressActivity"
            android:label="@string/page_loginprog_title"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.Blok3Activity" />
        <activity android:name=".activities.Blok4Activity" />
        <activity android:name=".activities.Blok5AActivity" />
        <activity android:name=".activities.Blok5BActivity" />
        <activity android:name=".activities.Blok7Activity" />
        <activity android:name=".activities.Blok7AActivity" />
        <activity android:name=".activities.Blok7BActivity" />
        <activity android:name=".activities.Blok7CActivity" />
        <activity android:name=".activities.Blok7DActivity" />
        <activity android:name=".activities.Blok7EActivity" />
        <activity android:name=".activities.Blok7FActivity" />
        <activity android:name=".activities.Blok8Activity" />
        <activity android:name=".activities.Blok9Activity" />
        <activity android:name=".activities.Blok10Activity" />
        <activity android:name=".activities.Block11Activity" />
        <activity android:name=".activities.Block12Activity"></activity>
    </application>

</manifest>